%h2 Browse
= form_tag(nil, :method => 'get') do
  = label_tag :query, 'Query:'
  = text_field_tag :query, params[:query]
  = submit_tag 'Search'
%ul.tracks
  - @tracks.each do |track|
    %li
      = render :partial => 'track', :object => track
      = link_to 'enqueue', enqueue_playlist_path(track),
          :method => 'POST', :remote => true
