%h2 browse
= form_tag(tracks_path, :method => 'get') do
  = text_field_tag :query, params[:query]
  = submit_tag 'search'
#tracklist
  %p#loading loading results...
- content_for :head do
  = stylesheet_link_tag 'browse.css'
  = javascript_include_tag tracks_path
