%h2 album
%h3
  %span.artist= @track.artist
  \//
  %span.album= @track.album
.album-info
  = image_tag album_art_track_path(@track.id), :alt => 'Album art', :size => '300x300'
  = link_to 'enqueue all', enqueue_all_playlist_path(:ids => @track_ids),
      :class => 'enqueue', :method => 'POST', :remote => true
%ul.tracks
  - @tracks.each do |track|
    %li
      = render :partial => 'track', :object => track
      = link_to 'enqueue', enqueue_playlist_path(:id => track), :class => 'enqueue', :method => 'POST', :remote => true
- content_for :head do
  = stylesheet_link_tag 'album.css'
  = javascript_include_tag tracks_path
