.player
  - if @player.error
    %p.error= @player.error
  %p.controls
    = command_link 'pause', @player.playing?
    = command_link 'play', ! @player.playing?
    = command_link 'stop'
  %p.track
    %span.artist= @status.artist
    %span.title= @status.title
  .progress
    .bar{ :style => "width: #{@status.percent_complete}%" }
    %span= @status.progress_s
