.player
  = image_tag album_art_track_path(@status.track_id || -1), :class => 'album-art', :alt => 'Album art', :size => '90x90'
  .volume
    .mask
    .slider{ :style => "height: #{@status.volume}%" }
  - if @player.error
    %p.error= @player.error
  .central
    .control-cluster
      %p.controls
        = command_link 'restart'
        = command_link 'pause', @player.playing?
        = command_link 'play', ! @player.playing?
        = command_link 'skip'
      %p.progress-text= @status.progress_s
    .track
      %p.title= @status.title
      %p.artist= @status.artist
      %p.album= @status.album
    .progress
      .bar{ :style => "width: #{@status.percent_complete}%" }
