%h2 playlist
= form_tag(nil, :class => 'quick-add') do
  = autocomplete_field_tag 'track-name', '', autocomplete_tracks_path, :size => 30, :id_element => '#track-id'
  = hidden_field_tag('track-id')
  = submit_tag 'Add', :id => 'add-button', :disabled => true
%ol.playlist
  = render :partial => 'playlist', :object => @playlist
- content_for :head do
  = javascript_include_tag playlist_path
