!!! 5
%html
  %head
    %title Websinger
    = stylesheet_link_tag 'application.css'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery-ui-1.8.7.custom.min.js'
    = javascript_include_tag 'autocomplete-rails.js'
    = csrf_meta_tag
    = yield :head
  %body
    .heading
      %h1.banner Websinger
      = render :partial => 'players/control'
      %ul.navigation
        %li= link_to 'playlist', playlist_path
        %li= link_to 'browse', tracks_path
    .status#success
    .status#failure
    .content
      = yield
