!!! 5
%html
  %head
    %title Websinger
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .heading
      = render :partial => 'players/control'
      .panel
        = image_tag 'websinger-logo.png', :alt => 'Websinger', :size => '250x60'
        %ul.navigation
          %li= link_to 'playlist', playlist_path
          %li= link_to 'browse', tracks_path
    .status#success
    .status#failure
    .content
      = yield
